<a href="https://colab.research.google.com/github/MDHussain2004/advance_datastructure/blob/main/Advance__data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# QUESTION 1
string="I am a boy"
print(string[::-1])

yob a ma I

In [ ]:
#QUESTION 2
string="you are the most beautiful girl"
vowels="aeiouAEIOU"
count=0
for i in string:
    if i in vowels:
        count+=1
print(count)

12

In [ ]:
# QUESTION 3
line=input("Enter the line: ")
check=line[::-1]
if check==line:
  print("palindrome")
else:
  print("not palindrome")

Enter the line: oyo
palindrome

In [ ]:
# QUESTION 4
str1 = "listen"
str2 = "silent"

# Convert both strings to lowercase, sort their characters, and compare
if sorted(str1) == sorted(str2):
    print(f"'{str1}' and '{str2}' are anagrams")
else:
    print(f"'{str1}' and '{str2}' are not anagrams")

'listen' and 'silent' are anagrams

In [ ]:
#QUESTION 5
string = "This is a test. This test is simple."
substring = "is"
start = 0
positions = []

while True:
    start = string.find(substring, start)
    if start == -1:
        break
    positions.append(start)
    start += 1  # Move past the last found substring to find the next occurrence

print(f"Occurrences of '{substring}' found at positions: {positions}")

Occurrences of 'is' found at positions: [2, 5, 18, 26]

In [ ]:
#Question 6
#Write a code to perform basic string compression using the counts of repeated characters
string = "aaabbccccdaa"
compressed_string = ""
count = 1

for i in range(1, len(string)):
    if string[i] == string[i - 1]:
        count += 1
    else:
        compressed_string += string[i - 1] + str(count)
        count = 1  # Reset the count for the new character

# Add the last character and its count
compressed_string += string[-1] + str(count)

print(f"Compressed string: {compressed_string}")

Compressed string: a3b2c4d1a2

In [ ]:
# QUESTION 7
# Write a code to deter mine if a string has all unique characters?
string = "abcdefg"

# Convert the string to a set to eliminate duplicates
unique_characters = set(string)

# Check if the length of the set is equal to the length of the string
if len(unique_characters) == len(string):
    print("The string has all unique characters.")
else:
    print("The string does not have all unique characters.")

The string has all unique characters.

In [ ]:
# QUESTION 8
# Write a code to convert ' given string to uppercase or lowercases
string = "Hello, World!"
uppercase_string = string.upper()
lowercase_string = string.lower()

print("Original string:", string)
print("Uppercase string:", uppercase_string)
print("Lowercase string:", lowercase_string)

Original string: Hello, World!
Uppercase string: HELLO, WORLD!
Lowercase string: hello, world!

In [ ]:
# QUESTION 9
# Write a code to count the number of words in a strings
string = "This is a sample string with multiple words."
word_count = len(string.split(" "))

print("Number of words in the string:", word_count)

Number of words in the string: 8

In [ ]:
len(string)

44

In [ ]:
# QUESTION 10
#Write a code to concatenate two strings without using the + operators
string1 = "Hello"
string2 = "World"
concatenated_string = ""

for char in string1:
    concatenated_string += char

concatenated_string += " "

for char in string2:
    concatenated_string += char
print(concatenated_string)

Hello World

In [ ]:
# QUESTION 11
# Write a code  to remove all occurrences of a specific element from a list.
# Initial list
my_list = [1, 2, 3, 4, 3, 5, 3, 6]
# Element to remove
element_to_remove = 3

# Remove all occurrences of the element
my_list = [item for item in my_list if item != element_to_remove]

print(f"Updated list: {my_list}")

Updated list: [1, 2, 4, 5, 6]

In [ ]:
# QUESTION 12
#Implement a code to find the second largest number in a given list of integers?
int_list = [10, 5, 8, 12,45,23,643,12321,223,23213,432,3423432,232,12345]
int_list.sort()
print(int_list[-2])

23213

In [ ]:
# QUESTION 13
# Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their count as value
list1 = [1, 2, 3, 4, 3, 5, 3, 6,"pk","jk","pk"]
dict1={}
for i in list1:
    if i in dict1:
        dict1[i]+=1
    else:
        dict1[i]=1
print(dict1)

{1: 1, 2: 1, 3: 3, 4: 1, 5: 1, 6: 1, 'pk': 2, 'jk': 1}

In [ ]:
# QUESTION 14
#Write a code to reverse a list in-place without using any built-in reverse functions
list1 = [1, 2, 3, 4, 3, 5, 3, 6]
reverse_list=list1[::-1]
print(f"reverse list is :{reverse_list}")

reverse list is :[6, 3, 5, 3, 4, 3, 2, 1]

In [ ]:
# method 2
# Initial list
my_list = [1, 2, 3, 4, 3, 5, 3, 6]

left=0
right=len(my_list) - 1
while left<right:
  my_list[left],my_list[right]=my_list[right],my_list[left]
  left+=1
  right-=1
print(my_list)

[6, 3, 5, 3, 4, 3, 2, 1]

In [ ]:
# QUESTION 15
# Implement a code to find and remove duplicates from a list while preserving the original order of elements.
list3=[12,34,53,53,45653,342,342,42,2424,3453,12,53,345]
unique_list=[]
for i in list3:
  if i in unique_list:
    continue
  else:
    unique_list.append(i)
print(unique_list)

[12, 34, 53, 45653, 342, 42, 2424, 3453, 345]

In [ ]:
#method 2
for i in list3:
  if i not in unique_list:
    unique_list.append(i)
print(unique_list)

[12, 34, 53, 45653, 342, 42, 2424, 3453, 345]

In [ ]:
# QUESTION 16
# Create a code to check if a given list is sorted (either in ascending or descending order) or not
li=[1,12,13,14,15,16,17,18]
if li==sorted(li,reverse=True):
  print("descending")
elif li==sorted(li):
  print("ascending")
else:
  print("not sorted")

ascending

In [ ]:
# QUESTION 17
# Write a code to merge two sorted lists into a single sorted list
list1=[1,2,3,4,5,6,5378,235,12,1213,223,7,8,9,10]
list2=[11,1222,132,145,156,316,167,138,139,320]
list1.sort()
list2.sort()
new_list=list1+list2
new_list.sort()
new_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 132,
 138,
 139,
 145,
 156,
 167,
 223,
 235,
 316,
 320,
 1213,
 1222,
 5378]

In [ ]:
# QUESTION 18
# Implement a code to find the intersection of two given lists
list1=[1,3,4,6,5,8,7]
list2=[2,5,4,1,9,10]
new_list=[]
for i in list1:
  if i in list2:
    new_list.append(i)
print(new_list)

[1, 4, 5]

In [ ]:
# QUESTION 19
#Create a code to find the union of two lists without duplicates
list1=[1,3,4,6,5,8,7]
list2=[2,5,4,1,9,10]
new_list=list1+list2
new_list=set(new_list)
new_list=list(new_list)
new_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# QUESTION 20
#Write a code to shuffle a given list randomly  without using any built-in shuffle functions
import random

def shuffle_list(lst):
  """Shuffles a given list randomly without using built-in shuffle functions.

  Args:
    lst: The list to be shuffled.

  Returns:
    The shuffled list.
  """

  for i in range(len(lst)):
    j = random.randint(0, i)
    lst[i], lst[j] = lst[j], lst[i]

  return lst

# Example usage:
my_list = [1, 2, 3, 4, 5]
shuffled_list = shuffle_list(my_list)
print(shuffled_list)

[5, 3, 2, 4, 1]

In [ ]:
# QUESTION 21
# Write a code that takes two tuples as input and return a new tuple containing elements that are common to both input tuples
tuple1=(1,2,3,4,5,6,7,8,9,10)
tuple2=(11,12,2,3,13,14,15,16,17,18,19,20)
new_tuple=set(tuple1) & set(tuple2)
new_tuple=tuple(new_tuple)
new_tuple

(2, 3)

In [ ]:
# QUESTION 22
#Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets
set1=set(input("Enter the first set of integers separated by commas: "))
set2=set(input("Enter the second set of integers separated by commas: "))
intersection=set1 & set2
print(intersection)

Enter the first set of integers separated by commas: 1,2,3,3,4,5,53,23
Enter the second set of integers separated by commas: ,1,2,3,4,7,8,4,32
{'3', '4', '2', '1', ','}

In [ ]:
# QUESTION 23
# Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

tuple1 = tuple(map(int, input("Enter the first tuple of integers separated by space: ").split()))
tuple2 = tuple(map(int, input("Enter the second tuple of integers separated by space: ").split()))

new_tuple = tuple1 + tuple2

print(new_tuple)

Enter the first tuple of integers separated by commas: 1 2 33 33 23 213 234 23 11 22
Enter the second tuple of integers separated by commas: 232 23 242 243  34 32  24 32
(1, 2, 33, 33, 23, 213, 234, 23, 11, 22, 232, 23, 242, 243, 34, 32, 24, 32)

In [ ]:
# QUESTION 24
# Develop a code that prompts the user to input two sets of strings. Then print the elements that are present in the first set but not in the second set

set1 = set(map(int,input("Enter the first set of strings separated by commas: ").split(",")))
set2 = set(map(int,input("Enter the second set of strings separated by commas: ").split(",")))

difference = set1 - set2

print(f"Elements in set1 but not in set2: {difference}")

Enter the first set of strings separated by commas: 12,23,223,3,34,2,24
Enter the second set of strings separated by commas: 12,42,42,432,4,2341343343,2
Elements in set1 but not in set2: {34, 3, 23, 24, 223}

In [ ]:
# QUESTION 25
# Create a code that takes a tuple and two integers as input. The function should return s new tuple containing elements from the original tuple within the specified range of indices

original_tuple = tuple(map(int, input("Enter the first set of strings separated by commas: ").split(",")))
start_index = int(input("Enter the start index: "))
end_index = int(input("Enter the end index: "))

def extract_subtuple(original_tuple, start_index, end_index):

    return original_tuple[start_index:end_index + 1]


new_tuple = extract_subtuple(original_tuple, start_index, end_index)
print("New tuple:", new_tuple)

Enter the first set of strings separated by commas: 12,223,3,24,234,234,3
Enter the start index: 2
Enter the end index: 4
New tuple: (3, 24, 234)

In [ ]:
# QUESTION 26
#Write a code that prompts the user to input two sets of characters. Then print the union of these two sets
set1 = set(input("Enter the first set of characters separated by commas: ").split(","))
set2 = set(input("Enter the second set of characters separated by commas: ").split(","))
union_set=set1.union(set2)
print(union_set)

Enter the first set of characters separated by commas: 1,2,3,4,5
Enter the second set of characters separated by commas: 6,7,8,90,0
{'5', '3', '8', '7', '0', '90', '4', '6', '2', '1'}

In [ ]:
# QUESTION 27
# Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking
def find_max_min(numbers):

    max_value = numbers[0]
    min_value = numbers[0]

    for number in numbers:
        if number > max_value:
            max_value = number
        if number < min_value:
            min_value = number

    return max_value, min_value

# Example usage:
numbers = (10, 5, 20, 3, 15)
max_num, min_num = find_max_min(numbers)
print("Maximum value:", max_num)
print("Minimum value:", min_num)

Maximum value: 20
Minimum value: 3

In [ ]:
# QUESTION 28
# Create a code that defines two sets of integers. Then print the union, intersection and difference of these two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set = set1.difference(set2)

print("Union set:", union_set)
print("Intersection set:", intersection_set)
print("Difference set:", difference_set)

Union set: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection set: {4, 5}
Difference set: {1, 2, 3}

In [ ]:
# QUESTION 29
#Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple
tuple1=tuple((input("Enter the tuple seperated by commas: ").split(",")))
element=(input("Enter the element: "))
def count_element(tuple1,element):
  count=0
  for i in tuple1:
    if i==element:
      count+=1
  return count
count_element(tuple1,element)

Enter the tuple seperated by commas: 1,1,1,1,1,1,2,3,4,5,5,12,23,2,2,1,1,,1,1,1,11,1,1,1,1,1,1
Enter the element: 1

17

In [ ]:
# QUESTION 30
# Develop a code that prompts the user to input two sets of strings. Then print the symmetric difference of these two sets
set1 = set(input("Enter the first set of strings separated by commas: ").split(","))
set2 = set(input("Enter the second set of strings separated by commas: ").split(","))
symmetric_difference = set1 ^ set2
print(symmetric_difference)

Enter the first set of strings separated by commas: 1,2,3,456,123,3311,33,3
Enter the second set of strings separated by commas: 1,23,2,3,324,343,44,53
{'44', '3311', '23', '53', '456', '343', '123', '324', '33'}

In [ ]:
# QUESTION 31
# Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list
list1=list(str(input("Enter the list of words: ")).split(","))
dict1={}
for i in list1:
  if i in dict1:
    dict1[i]+=1
  else:
    dict1[i]=1
print(dict1)

Enter the list of words: pq,qd,s,ewew,wdw,pu,pd,pd,pd,md,dmd,md,md,md,md,mn,mn,mn,mn,mb,mb,mb
{'pq': 1, 'qd': 1, 's': 1, 'ewew': 1, 'wdw': 1, 'pu': 1, 'pd': 3, 'md': 5, 'dmd': 1, 'mn': 4, 'mb': 3}

In [ ]:
# QUESTION 32
# Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys the values should be added together

# Function to merge two dictionaries
def merge_dicts(dict1, dict2):
    merged_dict = dict1.copy()  # Start with the first dictionary

    for key, value in dict2.items():  # Iterate over the second dictionary
        if key in merged_dict:
            merged_dict[key] += value  # Add values if the key is common
        else:
            merged_dict[key] = value  # Add key-value pair if the key is not present

    return merged_dict

# Input two dictionaries
dict1 = {'a': 10, 'b': 20, 'c': 30}
dict2 = {'b': 5, 'c': 15, 'd': 25}

# Merge the dictionaries
result = merge_dicts(dict1, dict2)

# Print the merged dictionary
print(result)

{'a': 10, 'b': 25, 'c': 45, 'd': 25}

In [ ]:
# QUESTION 33
# Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input and return the corresponding value. If any of the keys do not exist in the dictionary the function should return None

# Function to access value in a nested dictionary
def access_nested_dict(nested_dict, keys_list):
    current_value = nested_dict

    # Iterate over the list of keys
    for key in keys_list:
        if isinstance(current_value, dict) and key in current_value:
            current_value = current_value[key]  # Update to the next level in the dictionary
        else:
            return None  # Return None if the key does not exist

    return current_value  # Return the final value after processing all keys

# Example dictionary
nested_dict = {
    'a': {
        'b': {
            'c': 100
        }
    },
    'x': {
        'y': {
            'z': 200
        }
    }
}

# Example list of keys
keys_list = ['a', 'b', 'c']

# Access value in the nested dictionary
value = access_nested_dict(nested_dict, keys_list)

# Print the result
print(f"The value for keys {keys_list} is: {value}")

The value for keys ['a', 'b', 'c'] is: 100

In [ ]:
# QUESTION 34
# Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order

# Function to sort dictionary based on values
def sort_dict_by_values(input_dict, ascending=True):
    # Sorting the dictionary by values
    sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=not ascending))

    return sorted_dict

# Example dictionary
example_dict = {
    'apple': 50,
    'banana': 20,
    'cherry': 75,
    'date': 10
}

# Sort in ascending order
ascending_sorted_dict = sort_dict_by_values(example_dict, ascending=True)
print("Sorted in ascending order:", ascending_sorted_dict)

# Sort in descending order
descending_sorted_dict = sort_dict_by_values(example_dict, ascending=False)
print("Sorted in descending order:", descending_sorted_dict)

Sorted in ascending order: {'date': 10, 'banana': 20, 'apple': 50, 'cherry': 75}
Sorted in descending order: {'cherry': 75, 'apple': 50, 'banana': 20, 'date': 10}

In [ ]:
# QUESTION 35
# Write a code that inverts a dictionary swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

# Function to invert a dictionary
def invert_dictionary(input_dict):
    inverted_dict = {}

    for key, value in input_dict.items():
        # If the value is already a key in the inverted dictionary, append the key to the list
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            # Otherwise, create a new list for that value
            inverted_dict[value] = [key]

    return inverted_dict

# Example dictionary
example_dict = {
    'apple': 1,
    'banana': 2,
    'cherry': 1,
    'date': 3,
    'elderberry': 2
}

# Inverting the dictionary
inverted_dict = invert_dictionary(example_dict)
print("Inverted dictionary:", inverted_dict)

Inverted dictionary: {1: ['apple', 'cherry'], 2: ['banana', 'elderberry'], 3: ['date']}